.pp-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  z-index: initial;
  opacity: 0;
}
.pp-overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 6000;
}

.pp-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.pp-popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.pp-popup .pp-close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.pp-popup .pp-close:hover {
  color: #06D85F;
}
.pp-popup .pp-content {
  max-height: 30%;
  overflow: auto;
}

.aligncenter {
  margin: auto;
}

@media screen and (max-width: 700px){
  .pp-popup{
    width: 70%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  to {
    opacity: 1;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}

@keyframes pulse {
  from {
    margin: 7px 7px 7px 60px;
    padding: 2px;
  }
  to {
    margin: 2px 2px 2px 60px;
    padding: 7px;
  }
}

* { 
  animation-name: fade-in;
  animation-duration: 2s;
}

code {
  font-family: "Inconsolata", monospace;
}

.announcement-title {
  font-family: "Patua One", cursive;
}

.announcement-description {
  font-size: 12px;
  font-weight: 500;
  color: #777777;
  padding-left: 15px;
}


.announcement-description:hover {
  font-size: 14px;
  color: #000000;
}

.announcement-container, .announcement-header {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 2px;
  margin-top: 2px;
  border-bottom-width: 1px;
  border-bottom-color: #bbbbbb;
  border-bottom-style: solid;
}

.announcement-header {
  padding-left: 40px;
}

.pulse-button {
  border: none;
  color: #4811F8;
  background-color: #251458;
  margin-left: 60px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 7px;
  margin-bottom: 7px;
  animation-name: pulse;
  animation-timing-function: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.pulse-button:hover {
  color: #4C14FE;
  background-color: #3E2F70;
}

.salt-message {
  color: #555555;
  cursor: pointer;
}

.salt-message:hover {
  color: #000000;
}

.fade-in-out {
  animation-name: fade-in;
  animation-timing-function: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  animation-duration: 3s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;
}
